h1 {
	color: blue;text-transform: uppercase;
	}

h2 {
	color blue;
	p}
	text transform:uppercase;
			}

#jeronimo {
	height: 300px;
}
#rafa {
	height: 100px
}
#parrafo1 {
	color: red
}
.los-parrafos {
	text-decoration: underline;
}
#parrafo-loco {
	ement.style {
    margin: 20px;
    margin-right: 100px;
    border: blue 2px solid;
    padding: 10px;
    background-color: yellow;
    width: 50%;

}